[Global]
id=lifi
version=0.1
about=Customized Mozilla Firefox for Lifi

[Preferences]
browser.showPersonalToolbar=false


[BookmarksToolbar]
{% for item in lifi.firefox.bookmarks %}
item.{{ loop.index }}.title={{ item.title }}
item.{{ loop.index }}.link={{ item.link }}
item.{{ loop.index }}.description={{ item.description }}
{% if item.icon is defined %}item.{{ loop.index }}.icon={{ item.icon }}{% endif %}
{% if item.iconData is defined %}item.{{ loop.index }}.iconData={{ item.iconData }}{% endif %}
{%- endfor %}

