pref("app.normandy.api_url", "");
pref("app.normandy.enabled", false);
pref("app.shield.optoutstudies.enabled", false);
pref("app.update.auto", false);
pref("beacon.enabled", false);
pref("breakpad.reportURL", "");
pref("browser.bookmarks.restore_default_bookmarks", false);
pref("browser.contentblocking.category", "custom");
pref("browser.crashReports.unsubmittedCheck.autoSubmit", false);
pref("browser.crashReports.unsubmittedCheck.autoSubmit2", false);
pref("browser.crashReports.unsubmittedCheck.enabled", false);
pref("browser.disableResetPrompt", true);
pref("browser.newtabpage.activity-stream.showSponsored", false);
pref("browser.newtabpage.activity-stream.showSponsoredTopSites", false);
pref("browser.newtabpage.enabled", false);
pref("browser.newtabpage.enhanced", false);
pref("browser.newtabpage.introShown", true);
pref("browser.safebrowsing.appRepURL", "");
pref("browser.safebrowsing.blockedURIs.enabled", false);
pref("browser.safebrowsing.downloads.enabled", false);
pref("browser.safebrowsing.downloads.remote.enabled", false);
pref("browser.safebrowsing.downloads.remote.url", "");
pref("browser.safebrowsing.enabled", false);
pref("browser.safebrowsing.malware.enabled", false);
pref("browser.safebrowsing.phishing.enabled", false);
pref("browser.search.region", "DE");
pref("browser.search.separatePrivateDefault.urlbarResult.enabled", false);
pref("browser.selfsupport.url", "");
pref("browser.send_pings", false);
pref("browser.sessionstore.privacy_level", 0);
pref("browser.shell.checkDefaultBrowser", false);
pref("browser.startup.homepage", "{{ lifi.firefox.homepage }}");
pref("browser.startup.homepage_override.mstone", "ignore");
pref("browser.tabs.crashReporting.sendReport", false);
pref("browser.tabs.firefox-view", false);
pref("browser.toolbarbuttons.introduced.pocket-button", true);
pref("browser.toolbars.bookmarks.visibility", "{{ lifi.firefox.bookmark_toolbar }}");
pref("browser.uiCustomization.state", "{\"placements\":{\"widget-overflow-fixed-list\":[],\"nav-bar\":[\"back-button\",\"forward-button\",\"stop-reload-button\",\"home-button\",\"urlbar-container\",\"zoom-controls\",\"downloads-button\"],\"toolbar-menubar\":[\"menubar-items\"],\"TabsToolbar\":[\"firefox-view-button\",\"tabbrowser-tabs\",\"new-tab-button\",\"alltabs-button\"],\"PersonalToolbar\":[\"personal-bookmarks\"]},\"seen\":[\"save-to-pocket-button\",\"developer-button\"],\"dirtyAreaCache\":[\"nav-bar\",\"PersonalToolbar\",\"toolbar-menubar\",\"TabsToolbar\"],\"currentVersion\":18,\"newElementCount\":4}");
pref("browser.urlbar.groupLabels.enabled", false);
pref("browser.urlbar.placeholderName", "DuckDuckGo");
pref("browser.urlbar.quicksuggest.enabled", false);
pref("browser.urlbar.quicksuggest.scenario", "history");
pref("browser.urlbar.speculativeConnect.enabled", false);
pref("browser.urlbar.trimURLs", false);
pref("datareporting.healthreport.service.enabled", false);
pref("datareporting.healthreport.uploadEnabled", false);
pref("datareporting.policy.dataSubmissionEnabled", false);
pref("distribution.canonical.bookmarksProcessed", true);
pref("dom.battery.enabled", false);
pref("experiments.activeExperiment", false);
pref("experiments.enabled", false);
pref("experiments.manifest.uri", "");
pref("experiments.supported", false);
pref("extensions.formautofill.creditCards.enabled", false);
pref("extensions.getAddons.cache.enabled", false);
pref("extensions.getAddons.showPane", false);
pref("extensions.greasemonkey.stats.optedin", false);
pref("extensions.greasemonkey.stats.url", "");
pref("extensions.shield-recipe-client.api_url", "");
pref("extensions.shield-recipe-client.enabled", false);
pref("extensions.webservice.discoverURL", "");
pref("extensions.unifiedExtensions.enabled", false);
pref("media.autoplay.default", 0);
pref("media.autoplay.enabled", true);
pref("media.eme.enabled", false);
pref("media.gmp-widevinecdm.enabled", false);
pref("media.video_stats.enabled", false);
pref("network.IDN_show_punycode", true);
pref("network.allow-experiments", false);
pref("network.captive-portal-service.enabled", false);
pref("network.cookie.cookieBehavior", 1);
pref("network.http.referer.spoofSource", true);
pref("network.http.speculative-parallel-limit", 0);
pref("network.trr.mode", 5);
pref("privacy.donottrackheader.enabled", true);
pref("privacy.donottrackheader.value", 1);
pref("privacy.trackingprotection.cryptomining.enabled", true);
pref("privacy.trackingprotection.enabled", true);
pref("privacy.trackingprotection.fingerprinting.enabled", true);
pref("privacy.trackingprotection.pbmode.enabled", true);
pref("privacy.usercontext.about_newtab_segregation.enabled", true);
pref("services.sync.declinedEngines", "");
pref("services.sync.prefs.sync.browser.newtabpage.activity-stream.showSponsored", false);
pref("services.sync.prefs.sync.browser.newtabpage.activity-stream.showSponsoredTopSite", false);
pref("services.sync.prefs.sync.browser.newtabpage.activity-stream.showSponsoredTopSites", false);
pref("signon.autofillForms", false);
pref("signon.generation.enabled", false);
pref("signon.management.page.breach-alerts.enabled", false);
pref("signon.rememberSignons", false);
pref("toolkit.telemetry.archive.enabled", false);
pref("toolkit.telemetry.bhrPing.enabled", false);
pref("toolkit.telemetry.cachedClientID", "");
pref("toolkit.telemetry.enabled", false);
pref("toolkit.telemetry.firstShutdownPing.enabled", false);
pref("toolkit.telemetry.hybridContent.enabled", false);
pref("toolkit.telemetry.newProfilePing.enabled", false);
pref("toolkit.telemetry.prompted", 2);
pref("toolkit.telemetry.rejected", true);
pref("toolkit.telemetry.reportingpolicy.firstRun", false);
pref("toolkit.telemetry.server", "");
pref("toolkit.telemetry.shutdownPingSender.enabled", false);
pref("toolkit.telemetry.unified", false);
pref("toolkit.telemetry.unifiedIsOptIn", false);
pref("toolkit.telemetry.updatePing.enabled", false);
pref("webgl.renderer-string-override", " ");
pref("webgl.vendor-string-override", " ");
