# GDM configuration storage
#
# See /usr/share/gdm/gdm.schemas for a list of available options.


[daemon]

{% if lifi.autologin %}

# Enabling automatic login
AutomaticLoginEnable=true
AutomaticLogin={{ lifi.autologin }}

# Enabling timed login
TimedLoginEnable = true
TimedLogin = {{ lifi.autologin }}
TimedLoginDelay = 0

{% else %}

# Disable automatic login
AutomaticLoginEnable=false
#AutomaticLogin=

# Disable timed login
TimedLoginEnable = false
#TimedLogin =
#TimedLoginDelay = 0

{% endif %}

# Uncomment the line below to force the login screen to use Xorg
#WaylandEnable=false

[security]

[xdmcp]

[chooser]

[debug]
# Uncomment the line below to turn on debugging
# More verbose logs
# Additionally lets the X server dump core if it crashes
#Enable=true

