# shellcheck shell=sh

# Use locally installed quartz system files.
export QUARTZ_SYSTEM_DIR="{{ lifi.quartz.prefix }}share/quartz/system"

# Disable autoshutdown of quartz during an exam
# We don't want a user to close the VM by accident and reopen it while it is
# either shutting down or after it has shutdown and the user needs to wait for
# it to boot again.
export QUARTZ_AUTOSHUTDOWN=0
